<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bug Example</title>
    </head>
    <body>
        <div id="sprites" hidden>
            <div id="workspaceSprites" hidden>
                <%=compilation.getAsset("sprites/workspaceSprites.svg").source.source()%>
            </div>
        </div>
        <div id="app"></div>
    </body>
</html>